*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #001e4f;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    padding: 10px;
   
}

.app{
    background-color: #fff;
    width:90%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 80px auto 40px;
}

.app h1{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
}

.btn{
    background-color: #fff;
    color:#222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background: #222;
    color:#fff;

}
#next-btn{
    background: #001e4d;
    color:#fff;
    font-weight: 500;
    width:150px;
    border:0;
    padding: 10px;
    margin:20px auto 0;
    border-radius: 4px;
    cursor:pointer;
    display: none;
}

.correct {
    background-color: #28a745 !important;
}

.incorrect {
    background-color: #dc3545 !important;
}

.footer {
    text-align: center;
    color: #fff;
    background-color: #001e4d;
    padding: 15px 10px;
    font-size: 14px;
    border-top: 1px solid #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


/* Petits écrans */
@media (max-width: 480px) {
    .app h1 {
        font-size: 20px;
    }

    .quiz h2 {
        font-size: 16px;
    }

    .btn {
        font-size: 14px;
        padding: 8px;
    }

    #next-btn {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}

/* Écrans moyens */
@media (max-width: 768px) {
    .app {
        padding: 20px;
    }

    .btn {
        font-size: 15px;
    }

    #next-btn {
        font-size: 15px;
    }
}
